.login-container {
  background-image: url('../assets/fondo.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form input {
  padding: 30px;
  width: 50%;
  height: 75px;
  margin-bottom: 10px;
  border: 2px solid #74E9A3;
  background-color: #5FAA81;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.login-form input::placeholder {
  color: white;
  opacity: 1;
}

.login-form input:focus {
  background-color: #74E9A3;
  border-color: #5FAA81;
  color: black;
  outline: none;
}

.login-form button {
  padding: 10px 20px;
  display: block;
  width: 50%;
  height: 75px;
  background-color: #5FAA81;
  border: 3px solid #74E9A3;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  cursor: pointer;
}

.login-form button:active,
.login-form button:hover {
  background-color: #74E9A3;
  border-color: #5FAA81;
  color: black;
  outline: none;
}

.error {
  color: red;
}